@charset "UTF-8";
dd{
  text-transform: uppercase;
}
.valorMonetario
{
    text-align: right;
}
body {
  font-family: 'Roboto', sans-serif
}

/* Inicio top bar */
.sup {
  border-bottom: solid 2px #e8222d
}

.top-bar {
  width: 100%
}

.sticky {
  z-index: 5 !important;
}

/* Fin top bar */
i.material-icons {
  vertical-align: middle;
}

div#submenu,
div#submenu ul {
  background-color: transparent
}

.display {
  margin-bottom: 1rem !important;
}

.display-top {
  margin-top: 1rem !important;
}

.escudo {
  width: 150px;
  border-right: solid 1px;
  padding-right: 1rem;
  float: left;
}

.logoPDE {
  height: 60px;
  border-right: solid 1px;
  padding-right: 1rem;
}

.bienvenida {
  border-right: solid 1px;
  margin-right: 1rem;
}

@media print, screen and (min-width: 40em) {
  ul.menu>li#app {
    display: block
  }

  .title-bar {
    background: #e8222d;
    color: #fff
  }

  .menuSubnav {
    background: #e8222d;
    color: #fff
  }
}

@media screen and (max-width: 39.99875em) {
  div#barrasup {
    margin-bottom: 40px !important;
  }

  div.sup>div.top-bar-left>ul.dropdown.menu {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 63.99875em) {
  table.stack thead.sia {
    display: block !important;
  }

  table.stack tfoot.sia {
    display: block !important;
  }
}

.button {
  border-radius: 0
}

.input-group-label:first-child {
  border-right: 0 !important
}

ul#menuSubnav {
  background: rgba(162, 191, 10, .75);
  text-align: -webkit-center
}

ul#menuSubnav a {
  color: #fff
}

ul#menuSubnav li:hover {
  background: rgba(162, 191, 10, 1)
}

ul#menuSubnav>li.is-dropdown-submenu-parent>a::after {
  display: block;
  width: 0;
  height: 0;
  border: 6px inset;
  content: '';
  border-bottom-width: 0;
  border-top-style: solid;
  border-color: #fff transparent transparent;
  right: 5px;
  margin-top: -3px
}

ul#menuSubnav>li>ul>li>a {
  color: #00000080
}

ul#menuSubnav>li>ul>li>a:hover {
  color: #fff;
  background: rgba(162, 191, 10, .75)
}

ul#menuSubnav .is-dropdown-submenu {
  border: 1px solid #00000080;
  background: rgba(255, 255, 255, .9)
}

figcaption.orbit-caption a {
  color: #fff;
  font-weight: 700;
  font-size: small;
  text-decoration: underline
}

/* Inicio de pie de p&aacute;gina */
.footer {
  background-color: #6d6d6d;
  text-align: center;
  font-size: 1.2rem;
  padding: 2rem 0;
  margin-top: 2rem;
}

.footer .contact {
  text-align: left;
  margin: 0
}

.footer .social {
  text-align: center;
  margin: 0
}

.footer .contact {
  list-style-type: none;
  color: #fff;
  font-size: 1rem
}

.footer .inline-list a {
  display: inline-block;
  width: 2rem;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  margin: 0
}

.footer .contact li p {
  padding-left: 0;
  font-size: 1rem;
  margin-bottom: 0
}

.footer .about {
  color: #fff;
  font-size: 1rem;
  margin: 0 0 1rem
}

.footer hr {
  border-bottom: 1px solid #fff;
}

ul.contact li p i {
  font-size: 1rem !important
}

.footer .contact li {
  margin-bottom: 0
}

.footer h1 {
  color: #fff;
  font-size: 1.2rem;
  text-align: left;
  font-weight: 700;
}

ul.inline-list.social a img {
  width: 18px
}

.footer ul.menu li {
  list-style: none;
  float: left;
  color: #fff;
  text-align: left;
  font-size: 1rem;
}

.footer ul.menu li a {
  font-weight: 400;
  color: #fff;
  padding: 0;
  margin: 0;
  display: initial;
}

.footer ul.menu li a:focus,
.footer ul.menu li a:hover {
  color: #ffffffa1
}

.footer div.row p.about {
  border-top: solid #fff 1px;
  padding-top: 1.5rem;
  margin-top: .5rem
}

/* Fin de pie de p&aacute;gina */
/* Inicio de hr */
hr {
  margin: 20px 50px
}

hr.hrheader {
  margin: 30px 0;
  position: relative
}

hr.hrheader:before {
  content: " ";
  width: 50px;
  height: 3px;
  background-color: #e8222d;
  position: absolute
}

/* Fin de hr */
.title-bar {
  background: #6d6d6d;
}

.card {
  align-items: center;
}

.card-section {
  text-align: center;
}

.menu.nested.sitemap {
  margin-left: 4rem;
}

.menu.nested.navega {
  margin-left: 2.5rem;
}

/* Inicio migas */
.padding-_5 {
  padding: .5rem !important;
}

.breadcrumbs li {
  color: #fff;
}

.breadcrumbs a {
  color: rgba(255, 255, 255, 0.75);
}

.breadcrumbs .disabled {
  color: rgba(255, 255, 255, 0.5);
}

.breadcrumbs li:not(:last-child)::after {
  color: rgba(255, 255, 255, 0.25)
}

div#migas {
  background: #e8222d;
}

/* Fin migas */
/* Inicio link deshabilitado */
.deshabilitado {
  opacity: 0.25;
  cursor: not-allowed;
}

/* Fin link deshabilitado */
/* Inicio tab vertical */
.tabs-content {
  border: 0 none
}

.badge {
  line-height: 1.5;
}

a.title-declaracion {
    font-size: 1.5rem!important;
}

.title-declaracion>.material-icons {
    padding-right: 15px;
}

.tabs {
  border:none;
  background:none
}

.tabs-title {
  float: right
}

.tabs-title>a {
  font-size: 1rem;
  font-weight: 700;
  color: #fefefe;
  background-color: #e8222d;
  border: 1px solid #e8222d;
}

.tabs-title>a:hover {
  border: 1px solid #e8222d
}

.tabs-title>a:focus, .tabs-title>a[aria-selected=true] {
  border: 1px solid #e8222d;
  background: #ffffff
}

.tabs-content {
  background:none
}

.tabs-panel {
  padding: 1rem 0rem
}

/* Fin tab vertical */
/* Inicio dashboard */
.dashboard-nav-card {
  background: #e8222d;
  border-radius: 0;
  color: #fff;
  display: block;
  min-height: 150px;
  padding: 2rem;
  position: relative;
  width: 100%;
}

.dashboard-nav-card:hover .dashboard-nav-card-title,
.dashboard-nav-card:hover .dashboard-nav-card-icon {
  color: #fff;
}

.dashboard-nav-card:hover .dashboard-nav-card-icon {
  opacity: 1;
  transition: all 0.2s ease;
}

.dashboard-nav-card-icon {
  font-size: 3rem !important;
  left: 1rem;
  opacity: 0.5;
  position: absolute;
  top: 1rem;
  transition: all 0.2s ease;
  width: auto;
}

.dashboard-nav-card-title {
  bottom: 0;
  position: absolute;
  right: 1rem;
  text-align: right;
}

/* Fin dashboard */
/* Inicio form */
input.mayusculas {
  text-transform: uppercase;
}

/* Fin form */
/* Loader (TOP) */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border-top: 16px solid #a5dc86;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

div#textDB {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  text-align: center;
  top: 55%;
  position: relative;
  font-size: xx-large;
  padding: 1em;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Loader (BOTTOM) */
/* Tablas de google estadisticas */
.theadgoogle {
  background: #f8f8f8 !important;
  color: #0a0a0a !important;
}

.thgoogle {
  padding: .5rem .625rem .625rem !important;
  text-align: left !important;
  font-size: 1rem !important;
}

.tdgoogle {
  padding: .5rem .625rem .625rem !important;
  font-size: 1rem !important;
}

.htrgoogle {
  background: #f8f8f8 !important;
}

.otrgoogle {
  background-color: #fff !important;
}

.google-visualization-table-div-page {
  background-color: #f8f8f8 !important;
  background-image: none !important;
  padding: .5rem .625rem .625rem !important;
  border: 1px solid #f1f1f1 !important;
  border-top: 0px !important;
}

.google-visualization-table-table {
  border-collapse: collapse !important;
  width: 100% !important;
  border-radius: 6px !important;
}

/* Tablas de google estadisticas */
/* Fin interconexion modulos */
.button-badge {
  background-color: #f8f8f8;
  text-decoration: none;
  padding: .5rem;
  position: relative;
  display: inline-block;
  border-radius: 2rem;
  transition: all ease 0.4s;
}

.button-badge:hover {
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

a.button-badge>span.badge {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: .6rem !important;
}

a.button-badge>span.has-tip {
    border-bottom: none 0px!important;
}
/* Fin interconexion modulos */

/* Inicio linea de tiempo */
.timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.li {
  transition: all 200ms ease-in;
  cursor: pointer;
}

ul.timeline li {
    width: 18%;
}

.timestamp {
  margin-bottom: 0px;
  padding: 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timestamp .author {
  color: #aDaDaD;
  font-size: .7rem;
}

.timestamp .author:hover {
  text-decoration-line: underline;
}

.status {
  padding: 20px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #aDaDaD;
  position: relative;
  transition: all 200ms ease-in;
}

.current .status {
  padding: 20px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #aDaDaD;
  position: relative;
  transition: all 200ms ease-in;
}

.status h4:hover {
  text-decoration-line: underline;
}

.status h4 {
  color: #aDaDaD;
  font-size: .6rem;
}

.status:before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 15px;
  border: 2px solid #aDaDaD;
  position: absolute;
  top: -7px;
  left: 46%;
  transition: all 200ms ease-in;
}

.li .status {
  border-top: 2px solid #aDaDaD;
}

.li.complete .status {
  border-top: 2px solid #e8222d;
}

.li.current .status {
  border-top: 2px solid #e8222d;
}

.li.complete .status:before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 15px;
  border: 2px solid #e8222d;
  position: absolute;
  top: -8px;
  left: 45%;
  transition: all 200ms ease-in;
}

.li.current .status:before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #e8222d;
  border-radius: 15px;
  border: 2px solid #e8222d;
  position: absolute;
  top: -8px;
  left: 45%;
  transition: all 200ms ease-in;
}

.li.complete .status h4:hover {
  text-decoration-line: underline;
}

.li.complete .author {
  color: #e8222d;
}

.li.current .author {
  color: #e8222d;
}

.li.complete .status h4 {
  color: #e8222d;
  font-size: .6rem;
}

.li.current .status h4 {
  color: #e8222d;
  font-size: .6rem;
}

@media screen and (max-width: 39.99875em) {
  .timeline {
    list-style-type: none;
    display: block;
  }

  .li {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }

  .li .status {
    border-top: 0px none;
  }

  .li.complete .status {
    border-top: 0px none;
  }

  .li.current .status {
    border-top: 0px none;
  }

  .timestamp {
    width: 100px;
  }

  .status:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;
  }

  .li.complete .status:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;
  }

  .li.current .status:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;
  }
}

/* Fin linea de tiempo */

.button-badge {
        background-color: transparent !important;
    }
    .badge
    {
        position: absolute;
    }
    .badge>.material-icons
    {
        vertical-align: middle;
        font-size: 1rem;
        width:16px

    }

/* Inicio formulario de sugerencias */
    .suggestions-panel-button {
        background: #e8222d;
        color: #fefefe;
        width: auto;
        padding: 0.70rem 1.25rem;
        text-align: center;
        position: absolute;
        top: -45px;
        right: 0px;
        transition: background 0.25s ease-in-out;
    }

    .suggestions-panel-button:after {
        content: "\021d1";
        margin-left: 5px;
    }

    .suggestions-panel-button:hover {
        background: #b9131c;
        color: #f0f0f0;
    }

    .is-active .suggestions-panel-button:after {
        content: "\021d3";
    }

    .suggestions-panel {
        padding: 1rem;
        z-index: 1;
        background: #f2f2f2;
        width: 350px;
        height: 375px;
        position: fixed;
        bottom: -375px;
        right: 50px;
        transition: bottom 0.5s ease-in-out;
    }

    .suggestions-panel label {
        color: #0d0d0d;
        width: 100%;
    }

    .suggestions-panel input[type="text"],
    .suggestions-panel input[type="email"],
    .suggestions-panel textarea {
        background: #d9d9d9;
        border: #0a0a0a;
        transition: background 0.3s ease-in-out;
    }

    .suggestions-panel input[type="text"]:focus,
    .suggestions-panel input[type="email"]:focus,
    .suggestions-panel textarea:focus {
        background: #fefefe;
    }

    .suggestions-panel .suggestions-panel-actions {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .suggestions-panel .submit-button {
        margin-bottom: 0;
    }

    .suggestions-panel .cancel-button {
        margin-bottom: 0;
        padding: 0.75rem 1rem;
        color: #fefefe;
        transition: background 0.25s ease-in-out;
    }

    .suggestions-panel .cancel-button:hover {
        background: #242424;
        color: #f0f0f0;
    }

    .suggestions-panel.is-active {
        bottom: 0;
    }

    @media screen and (max-width: 39.9375em) {
        .suggestions-panel {
            width: 100%;
            right: 0;
        }
    }
/* Fin formulario de sugerencias */
/* Inicio estilos accordion*/

.accordion {
  background: #e8222d
}

.accordion-title {
  font-size: 1.5rem;
  color: #fefefe;
  font-weight: 700
}

/* Fin estilos accordion*/

/* Inicio estilos formulario de registro del Sistema 6 - Contrataciones */

.menu-registro-contratacion{
    list-style: none;
    border: 1px solid #e6e6e6;
}

.item-principal-menu-contrataciones{
    background-color: #e8222d;
    color:#fff;
    font-size: 1rem;
    font-weight: 700;
    padding: 1.25rem 1.5rem;
    line-height: 1;
}

.item-menu-activo{
    background-color: #fff;
    color:#e8222d;
    border: 1px solid #e8222d;
}

.item-secundario-menu-contrataciones{
    background-color: #fff;
    color:#e8222d;
    font-size: 1rem;
    font-weight: 700;
    padding: 1.25rem 1.5rem;
    line-height: 1;
    border-left: 1px solid #e8222d;
    border-right: 1px solid #e8222d;
}

.item-secundario-menu-activo{
    background-color: #fff;
    color:#e8222d;
    border-left: 5px solid #cacaca;
    border-bottom: 1px solid #cacaca;
}

.tabs-bloque-seccion{
    margin: 0px;
    background: #fefefe;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.tab-bloque-seccion{
    background-color: #E8222D;
    border-top: 1px solid #cacaca;
    border-left: 1px solid #cacaca;
    border-bottom: 3px solid #E8222D;
}

.tab-bloque-seccion > a{
    color: #fff;
    font-size: .90rem;
}

.tab-bloque-seccion > a:hover{
    background-color: #fff;
}

.tab-bloque-seccion > a:focus, .tab-bloque-seccion > a[aria-selected='true']{
    background-color: #fff;
    color: #E8222D;
}

.elemento-deshabilitado
{
    background-color: #6d6d6d;
}

.btn-icono-deshabilitado{
    color: #6d6d6d;
}
/* Fin estilos formulario de registro del Sistema 6 - Contrataciones */ 